MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.xxxxx.mongodb.net/dilatech
PORT=5000
CLIENT_URL=https://dilatech.vercel.app
ADMIN_USERNAME=admin
ADMIN_PASSWORD=yourpassword
SESSION_SECRET=your_secret_key
NODE_ENV=production
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=dilshanrathnayaka089@gmail.com
SMTP_PASS=your_gmail_app_password
CONTACT_FROM_EMAIL=dilshanrathnayaka089@gmail.com
CONTACT_RECEIVER_EMAIL=dilshanrathnayaka089@gmail.com
